* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #8046;
    color: black;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}
.generator {
    width: 100%;
    max-width: 640px;
    padding: 2rem 1rem;
    background-color: rgb(137, 255, 255);
    border-radius: 1rem;
    
}
h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
input[type="checkbox"] {
    cursor: pointer;
}
.pasword-wrap {
    position: relative;
    display: flex; 
    width: 100%;
    margin-bottom: 1rem;
}
.pasword-wrap input {
    flex: 1 1 0%;
    font-style: italic;
}
.pasword-wrap input::placeholder {
    color: darkblue;
    font-style: italic;
}
label {
    display: block;
    white-space: nowrap;
    margin-bottom: 1rem;
}
label span {
    flex: 0 0 1%;
    white-space: nowrap;
}

label input[type="number"] {
    text-align: right;
    border:0px ;
}
button[type="submit"] {
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.5rem;
    background:linear-gradient(to right,#ad25fc 25%, #518cd4 75% );
    background-size: 200%;
    background-position: 25%;
    transition: 0.3s ease-out;

 }
 button[type="submit"]:hover {
    background-position: 75%;
 }